{% spaceless %}
    <div id="formulaire">
        <form id="ib_commentaire_commentaire_new_form" action="" method="POST"> 
            {{ form_errors(form) }}           
            {{ form_label(form.commentaire) }}
    
            <div class="ib_commentaire_form_errors">
                    {{ form_errors(form.commentaire) }}
            </div>  
                
            {{ form_widget(form.commentaire) }}
            {{ form_rest(form) }}
    
            <div class="ib_commentaire_submit">
                <input type="submit" class="btn btn-default" value="Poster" />
            </div>
    
        </form>
    </div>
{% endspaceless %}